* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

.home-wrapper {
	background: linear-gradient( rgba(0,0,0, 0.6), rgba(0,0,0, 0.6)), url(../img/background.jpg) no-repeat center center;
	background-size: cover;
	color: white;
}

header {
	padding: 10px 0;
	position: fixed;
	width: 100%;
	background-color: rgba(48,48,48, 0.4);
}

header img {
	width: 200px;
}

header nav {
	float: right;
}

header nav a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-left: 10px;
	padding: 10px 15px;
	border-radius: .2em;
}

header nav a.active {
	background: #FED136;
}

#home {
	text-align: center;
	padding: 200px 0 150px;
}

#home h1 {
	font-size: 68px;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: 40px;
}

#home hr {
	width: 80px;
	border:  3px solid #FED136;
}

#home p {
	font-size: 24px;
	margin-top: 40px;
}

#home .social 
{
	margin-top: 80px;
}

#home .social a {
	color:white;
	display: inline-block;
	border-radius: 50%;
	background-color: black;
	font-size: 24px;
	font-weight: bold;
	height: 45px;
	width: 45px;
	line-height: 45px;
	margin-right: 10px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

#home .social a:hover {
	background-color: #FED136;
}

#servicios {
	color: #666;
}

#servicios .box {
	display: inline-block;
	text-align: center;
	width: 33%;
	padding: 10px;
}

#servicios .box img {
	border-radius: 55%;
	box-shadow: 0px 2px 10px 0 #BBB;
}

#video {
	background-color: #000;
	text-align: center;
	padding: 30px 0;
}

#portafolio {
	background-color: whitesmoke;
	color: #666;
}

#portafolio .box {
	background-color: white;
	box-shadow: 5px 0 10px #AAA;
	display: inline-block;
	text-align: center;
	width: 31%;
	margin: 1%;
}

#portafolio .box img {
	width: 100%;
	box-shadow: 0 0 10px 0 #AAA;
}

#portafolio .box p {
	color: #666;
	padding: 10px;
}

#contacto {
	background-color: #303030;
	background-image: url("../img/map-image.png");
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}

#contacto h2 {
	color: white;
}

#contacto input {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 20px;
	width: 400px;
}

#contacto textarea {
	margin: 20px 0;
	padding: 20px;
	width: 400px;
}

#contacto button {
	background-color: #FED136;
	padding: 20px 40px;
	border-color: #FED136;
	border-radius: 3px;
	color: white;
	font-size: 18px;
	line-height: 1px;
	font-weight: bold;
}

footer {
	color: #666;
	padding: 70px 0;
	text-align: center;
	text-shadow: 0px 1px .2px #AAA;
	font-size: 18px;
}

section {
	padding: 40px 0 80px 0;
}

section h2 {
	font-size: 40px;
	text-align: center;
	margin-bottom: 60px;
	text-shadow: 0px 1px .2px #AAA;
}

.container{
	width: 992px;
	margin: 0 auto; 
}